![imagem%20unesp%20rosana.jpg](attachment:imagem%20unesp%20rosana.jpg)
# Oficina de Análise de dados 

##  Introdução pt.2:

* Tipos de dados
    * Numbers
    * Strings
    * Printando
    * Listas
    * Dicionários
    * Boleanos
    * Tuplas
    * Sets
* Operadores de comparação
* if,elif, else
* for Loops
* while Loops
* range()
* list comprehension
* funções
* expressões lamda
* map e filter
* métodos

## Tipos de dados

### Numéricos

In [1]:
1 + 1

2

In [2]:
1 * 3

3

In [3]:
1 / 2

0.5

In [4]:
2 ** 4

16

In [5]:
4 % 2

0

In [6]:
5 % 2

1

In [2]:
print((2 + 3) * (5 + 5))
print(1+1)
print(2+2)
print(3+3)
print(3+3)

50
2
4
6
6

### Definição de variáveis

In [8]:
# Não se pode iniciar uma variável com números ou carateres especais
nome_da_variavel = 2

In [3]:
x = 'jeca'
y = 3

In [4]:
z = x + y

TypeError: must be str, not int

In [11]:
z

5

### Strings

In [5]:
"Citação simples"

'Citação simples'

In [4]:
"Citações duplas"

'Citações duplas'

### Printando

In [6]:
x = 'ola'

In [7]:
x

'ola'

In [9]:
type(x)

str

In [10]:
print(x)

ola

In [15]:
a=3.55565
print("O numéro é:"%f2)

O numéro é: %f.2 3.55565

In [17]:
num = 24.55562255
nome = 'Jequinha'

In [18]:
print('Meu número é: {}, e meu nome é: {}'.format(nome,num))

Meu número é: Jequinha, e meu nome é: 24.55562255

### Listas

In [19]:
[1,2,3]

[1, 2, 3]

In [20]:
a=['hi',1,[1,2]]
a

['hi', 1, [1, 2]]

In [23]:
a[0][0]

'h'

In [41]:
a=[]
for i in 'Brasil':
        a.append(i)
    
a

['B', 'r', 'a', 's', 'i', 'l']

In [50]:
a[4::-1]

['i', 's', 'a', 'r', 'B']

In [51]:
minha_lista = ['a','b','c']

In [52]:
minha_lista.append('d')

In [53]:
minha_lista

['a', 'b', 'c', 'd']

In [4]:
minha_lista[0]

'a'

In [5]:
minha_lista[1]

'b'

In [6]:
minha_lista[1:]

['b', 'c', 'd']

In [8]:
minha_lista[:2]

['a', 'b']

In [56]:
minha_lista[::-2]

'c'

In [28]:
minha_lista[0] = 'NOVO'

In [29]:
minha_lista

['NOVO', 'b', 'c', 'd']

In [58]:
nest = [1,2,3,[4,5,['target']]]

In [63]:
nest[3][2][0][2]

'r'

In [32]:
nest[3][2]

['target']

In [33]:
nest[3][2][0]

'target'

### Dicionários - Django para web www.udemy.com

In [73]:
d = {'caio':24,'pedro':'saopaulino'}

In [74]:
d.keys()

dict_keys(['caio', 'pedro'])

In [85]:
d['joao']='ae'
d

{0: 'ae', 'caio': 24, 'jeca': 'ae', 'joao': 'ae', 'pedro': 'saopaulino'}

### Booleanos

In [38]:
True

True

In [39]:
False

False

### Tuplas

In [89]:
t = 1,2,3

In [90]:
t[0]

1

In [88]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Sets

In [43]:
{1,2,3}

{1, 2, 3}

In [4]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2,4}

{1, 2, 3, 4}

## Operadores de comparação

In [45]:
1 > 2

False

In [46]:
1 < 2

True

In [47]:
1 >= 1

True

In [48]:
1 <= 4

True

In [49]:
1 == 1

True

In [37]:
'oi' == 'tchau'

False

In [11]:
2!=3

True

## Operadores lógicos

In [51]:
(1 > 2) and (2 < 3)

False

In [52]:
(1 > 2) or (2 < 3)

True

In [53]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else

In [38]:
if 1 < 2:
    print('Sim!')

Sim!

In [41]:
if 1 < 2:
    print('Primeiro')
else:
    print('Último')

Primeiro

In [42]:
if 1 > 2:
    print('Primeiro')
    print('hello')
else:
    print('Último')

Último

In [91]:
if 1 == 2:
    print('Primeiro')
elif 3 <= 2:
    print('Meio')
else:
    print('Último')

Último

## for Loops

In [93]:
seq = [1,2,3,4,5]

In [95]:
for klebao in seq:
    print(klebao)

1
2
3
4
5

In [96]:
for item in seq:
    print('!')

!
!
!
!
!

In [98]:
for outra_coisa in seq:
    print(outra_coisa**5)

1
32
243
1024
3125

## while Loops

In [63]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

In [103]:
a=list(range(0,100,2))
a

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [65]:
for i in range(5):
    print(i)

0
1
2
3
4

In [47]:
A=list(range(0,20))
A

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

## list comprehension

In [1]:
x = list(range(20))
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [2]:
out = []
for item in x:
    out.append(item**2)
print(out)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [4]:
[item**2 for item in x].T

AttributeError: 'list' object has no attribute 'T'

In [115]:
[item%2==0 for item in x]

[True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False]

## Funções

In [124]:
def my_func(x):
    p=x+3
    return(p)

In [127]:
a=my_func(8)
a

11

In [54]:
my_func()

default

In [55]:
my_func('novo parametro')

novo parametro

In [56]:
my_func(param1='novo parametro')

novo parametro

In [12]:
my_func(param1='x')

x

In [128]:
def square(x):
    return x**2

In [129]:
out = square(2)

In [130]:
 print(out)

4

## Expressões lamda

In [133]:
def vezes2(var):
    return var*2

In [63]:
vezes2(2)

4

In [26]:
a = lambda var: var*2

In [27]:
a(2)

4

## map e filter

In [132]:
seq = [1,2,3,4,5]

In [142]:
a=map(vezes2,seq)
a

In [140]:
list(a)

[2, 4, 6, 8, 10]

In [68]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [5]:
map()

TypeError: map() must have at least two arguments.

In [69]:
filter(lambda item: item%2 == 0,seq)

In [70]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## Métodos

In [28]:
# sao 'funções' , metodos inerentes ao python

In [143]:
st = 'Olá, mE chamo Sam'

In [144]:
st.lower()

'olá, me chamo sam'

In [145]:
st.upper()

'OLÁ, ME CHAMO SAM'

In [146]:
st.split()

['Olá,', 'mE', 'chamo', 'Sam']

In [147]:
'Variavel x y z'.split()

['Variavel', 'x', 'y', 'z']

In [148]:
tweet = 'leme-joao@hotmail.com'

In [149]:
tweet.split('@')

['leme-joao', 'hotmail.com']

In [150]:
tweet.split('@')[1]

'hotmail.com'

In [79]:
d

{'chave1': 'item1', 'chave2': 'item2'}

In [80]:
d.keys()

dict_keys(['chave1', 'chave2'])

In [81]:
d.items()

dict_items([('chave1', 'item1'), ('chave2', 'item2')])

In [35]:
lst = [1,2,30,25]

In [36]:
#exclui o ultimo
lst.pop()

25

In [37]:
lst

[1, 2, 30]

In [85]:
'x' in [1,2,3]

False

In [86]:
'x' in ['x','y','z']

True